* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

#cabecalho {
    background-image: linear-gradient(135deg, #9b09f0, #4f047a, #1e042e, #11031a, #000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px;
    position: relative;
}

#titulo-cabecalho {
    font-size: 36px;
    font-weight: 400;
}

#icone-cabecalho {
    width: 48px;
}

#btn-sair {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease;
}

#btn-sair img {
    width: 32px;
    height: 32px;
}

#btn-sair:hover {
    color: white;
    background-image: linear-gradient(135deg, #9b09f0, #4f047a);
    border-radius: 30px;
    padding: 5px 15px;
}

.area-cadastros {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#titulo-cadastros {
    font-size: 28px;
    font-weight: 600;
    color: #4f047a;
    border-left: 5px solid #4f047a;
    padding-left: 10px;
    margin: 15px 0px 35px 25px;
    text-align: left;
    align-self: flex-start; 
}

.cadastros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
}

.card-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border: 1px solid #4f047a;
    border-radius: 30px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none; 
    color: #4f047a; 
    transition: all 0.5s ease;
}

.card-cadastro::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(135deg, #9b09f0, #4f047a);
    z-index: 0;
    transition: width 0.5s ease;
}

.card-cadastro:hover::before {
    width: 100%;
}

.card-cadastro:hover .tipo-cadastro,
.card-cadastro:hover .numero-cadastros {
    color: white;
}

.tipo-cadastro {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
}

.numero-cadastros {
    position: relative;
    z-index: 1;
}

.icone-card-cadastro {
    width: 40px;
}

#rodape {
    background-image: linear-gradient(135deg, #9b09f0, #4f047a, #1e042e, #11031a, #000);
    color: white;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}
